.post h3{
    font-weight: 400;
    color: var(--darkGreen);
    display: inline-block;
    font-size: .8rem;
    letter-spacing: .06rem;
    margin-top: 5px;
}
.vline::after{
    content:'|';
    margin: 0 2px;
}
.post h4 {
    font-size: .8rem;
    color: var(--darkGreen); 
    width: 100%;
    font-weight: 400;
    letter-spacing: .08rem;
}

.featureImage{
    width: 100%; 
    max-height: 800px;
    height: auto;
    object-position: center;
    object-fit:cover;
    margin-bottom: 20px;
}
 .postText{
     margin: 0 0 30px 0;
 }
 .postText figure{
    padding: 0;
    margin: auto;
    cursor: pointer;
}
.postText img{
    width: 100%;
    height: auto;
}
 .postFooter{
     /*border-top: 2px solid var(--darkGreen);*/
     border-top:  1px solid var(--darkGreen);
     font-family: var(--sans);
     margin-bottom: 10px;
     padding: 0 5px;
 }
 .readMore{
     text-decoration: none;
     color: var(--red);
     font-weight: 600;
     font-size: 1.2rem;
     text-transform: uppercase;
     
 }

.postTags{
    margin-bottom: 5px;
}
.postTags a{
    color: inherit;
    font-style: italic;
    text-decoration: none;
    margin-right: 3px;
}
.postTags a::after{
    content:','
}
.shareComments{
    display: flex;
    justify-content: space-between;
    color: var(--darkGreen);
    font-size: 1.2rem;
    border-bottom: 1px solid var(--darkGreen);
    padding: 10px 0;
}
.shareComments .fas, .shareComments .fab{
    margin-right: 10px;
    cursor: pointer;
   
} 
.shareComments .fas:hover, .shareComments .fab:hover{
    color:var(--black);
}

#beforeAfter{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

#beforeAfter a{
    color: var(--red);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
}

#beforeAfter a:hover{
    text-decoration: underline;
}

#postComments{
    background-color: #fff;
    padding: 10px;
}
